<div id="<%= student.id %>">
  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Standard:</strong>
    <%= student.standard %>
  </p>

  <p>
    <strong>Section:</strong>
    <%= student.section %>
  </p>

</div>
