<h1>Welcome to example.com, <%= @user.name %></h1>
    <p>
      You have successfully signed up to Tweets.com,
      your code is: <%= @user.code %>.<br>
    </p>
    <p>
      Please confirm the code, by clicking this link : <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>