<html>
	<head>
		<title>Create Department</title>
		<link href="styles.css" rel="stylesheet">
	</head>
	<body>
		<div >
			<a href="/home/index">Home</a>
		</div>
		<form action="/department/create">

			<div>
				<label for="dname"> Department Name :</label><br>	
				<input type="text" name="dname" id="name" ><br><br>
				
				<input type="submit">
				
			</div>

		</form>
		
	</body>
</html>
