<!Doctype html>
<html>
	<head >
		<title>Company Management	</title>
		<link href="styles.css" rel="stylesheet">
	</head>

	<body>
		<h1 style="color: red;font-size: 40px; text-align: center; font-weight: bold;"> Welcome to the Website</h1>
		<div>
			<form action="/employee/new" target="_blank" method="get">
				<button class="create-employee">Create Employee</button>	
			</form>

			<div class="text-center">
				<a href="/department/new" class="anchor"> Create Department</a>
			</div>

			<div class="text-center">
				<a href="/employee/all" class="anchor"> View Employees</a>
			</div>

			<div class="text-center">
				<a href="/department/all" class="anchor"> View Departments</a>
			</div>


		</div>
	</body>

</html>






