<p style="color: green"><%= notice %></p>

<h1>Products</h1>

<div id="products">
  <% if @products.count == 0 %>
    No Product found!
  <% else %>
    <% @products.each do |product| %>
    <%= render product %>
    <p>
      <%= link_to "Show this product", product %>
    </p>
  <% end %>

  <% end %>
  
</div>

<%= link_to "New product", new_product_path %>
