

<div id='<%= article.id %>'>
  <strong>Name :</strong>
  <%= article.name %><br>
  <strong>Quantity :</strong>
  <%= article.quantity %><br>
  <strong>Description :</strong>
  <%= article.description %><br>
  <div class='destroy'> Delete </div>

</div>
